* {
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copyright {
  margin-left: 20px;
  margin-top: 300px;
  padding-bottom: 50px;
}

.foot1 {
  display: inline;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 15px;
  color: #818181;
}

.foot2 {
  display: inline;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 15px;
  color: #87A7B3;
}

.download-btn-container a {
  cursor: pointer;
}

.download-btn-container {
  display: inline-block;
}

.download-btn-container a {
  font-weight: 700;
  letter-spacing: .5px;
  color: #c94927;
}

.dropdown-download {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-download a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-download a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0;
}

.sideNavbar-main {
  height: 100%;
  width: 200px;
  position: fixed;
  margin-left: 0;
  background-color: #35507d;
  padding: 30px 0;
}

#navbarUL {
  padding-left: 1em;
}

#navbarList {
  padding: 15px 10px;
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

#navbarUL {
  padding: 0;
}

#navbarList-active {
  padding: 15px 10px;
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background: #B2B1B9;
}

.sideNavbar-main a {
  text-decoration: none;
  list-style-type: none;
}

.sideNavbar-main li a {
  color: white;
  width: 25px;
}

.container {
  margin: 0px;
  max-width: 3000px;
  padding: 0px;
}

#logoLi {
  width: 20px;
  color: white;
}

#navbarList:hover {
  padding: 15px 10px;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

#mainContent {
  margin-left: 200px;
  margin-right: 0;
  margin-top: 0;
}

#topMenu {
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#companylogo {
  display: inline;
  height: 80px;
  margin-left: 10px;
}

#topNavbar {
  display: inline-block;
  float: right;
  margin-top: 20px;
  padding: auto;
}

#hiddenMenu {
  display: inline;
  margin: 10px 0;
  padding: 1rem;
}

#menu {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 1rem;
  color: #87A7B3;
  display: none;
}

#user {
  display: block;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 1rem;
  color: #87A7B3;
}

#calendar {
  display: inline;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 1em;
  color: #87A7B3;
}

#myTraining {
  margin: 20px;
}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  color: #818181;
}

.redbutton {
  display: inline-block;
  position: absolute;
  margin: auto;
  right: 15px;
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.buttonCOM {
  position: relative;
  border: 0;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #4ebdaa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
}

.buttonSOFT {
  position: relative;
  border: 0;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #B2B1B9;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
}

.overdue {
  position: absolute;
  height: 33px;
  top: -33px;
  right: 60px;
  background-color: red;
  padding: 10px 20px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  border-radius: 8px 8px 0 0;
}

#courseList {
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 0.5rem;
}

#courseInfo {
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#detailCourse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5rem;
}

#courseLogo {
  margin: 15px 5px;
  color: #4ebdaa;
}

#logox3 {
  height: 50px;
  padding: 0 10px;
}

#subTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #818181;
  margin: 10px;
  font-size: 15px;
  height: 80px;
}

#courseIMG {
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin-top: 10px;
}

#dueDate {
  background-color: #dddddd;
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin: 10px;
  font-size: 13px;
  width: 70%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

#anti {
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#discrimination {
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#consumerProtection {
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 10px rgba(78, 189, 170, 0.5);
          box-shadow: 0 0 10px 10px rgba(78, 189, 170, 0.5);
}

#mouduleInfo {
  color: #4ebdaa;
  padding: 15px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

#scrollDown {
  border: 0;
  background-color: white;
  color: #4ebdaa;
}

#scrollDown :hover {
  border: 0;
  background-color: #dddddd;
  color: #4ebdaa;
}

#workHealth {
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#consumer {
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#mouduleSection {
  display: none;
  width: 100%;
  -webkit-box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.moudule {
  position: relative;
  position: relative;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 60px;
  padding: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mouduleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}

.calendarPanel {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: black;
  top: 0;
  z-index: 2;
  margin: 0;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.calendarPanel_open {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: black;
  top: 0;
  z-index: 2;
  margin: 0;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0 0 15PX rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15PX rgba(0, 0, 0, 0.2);
}

#whiteText {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

#whiteLogo {
  padding: 20px;
  color: white;
}

#date {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
  padding: 5px 20px;
}

.dateDiv1 {
  margin: 50px auto;
  border-left: solid;
  border-width: 10px;
  border-color: #87A7B3;
}

.dateDiv2 {
  margin: 50px auto;
  border-left: solid;
  border-width: 10px;
  border-color: #f3f36e;
}

.click_moudule {
  -webkit-box-shadow: 0 0 10px 10px rgba(78, 189, 170, 0.3);
          box-shadow: 0 0 10px 10px rgba(78, 189, 170, 0.3);
}

@media (max-width: 1200px) {
  #wrapper {
    width: 100%;
    margin: auto;
  }
  .blackBackground {
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 1;
  }
  .blackBackground_open {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0px;
    left: 100%;
    -webkit-transform: trabslateX(0px);
            transform: trabslateX(0px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: 1;
  }
  .sideNavbar-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 200px;
    margin: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  .sideNavbar_open {
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 2;
    width: 200px;
    margin: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: trabslateX(0px);
            transform: trabslateX(0px);
    -webkit-box-shadow: 0 0 15PX rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15PX rgba(0, 0, 0, 0.2);
  }
  #sideCalendarMenu {
    display: fixed;
    width: 200px;
  }
  #menu {
    display: inline;
    width: 50px;
  }
  #mainContent {
    width: 100%;
    margin: 0;
  }
  #courseList {
    width: 100%;
    margin: auto;
  }
  #detailCourse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #anti {
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #discrimination {
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #consumerProtection {
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #mouduleSection {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #workHealth {
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #consumer {
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .moudule {
    display: block;
    width: 90%;
    margin: 5%;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 10px;
  }
  .mouduleList {
    display: block;
  }
  #topNavbar {
    display: none;
  }
  #companylogo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #hiddenMenu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 50px;
  }
  #topMenu {
    position: relative;
  }
  .buttonCOM {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .buttonSOFT {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
}
/*# sourceMappingURL=code test.css.map */